/public_html/*.sql
*.log
*.gz
*.zip
*.rar

log.txt

access_log
error_log

/.htaccess
/.htpasswd

/public_html/upload/*
/public_html/logs/*


.bash_history

/cgi-bin/*

/node_modules/

/.idea
/.idea/*

*.sublime-project
*.sublime-workspace
*DS_Store
*.bash_history
/*.sublime-project
/*.sublime-workspace
*.DS_Store

*.sketch
*.TODO

/frontend/vendor/**
/frontend/sprite.symbol.html


public_html/local/.settings.spec.php
public_html/local/php_interface/.dbconn.spec.php

public_html/dev-tools/migration/*.xml
public_html/dev-tools/migration/*.csv

