/*==========  MEDIA  ==========*/

// for csswizardry grids
$desk = "(min-width: 1025px)"
$lap = "(min-width: 600px) and (max-width: 1024px)"
$palm = "(max-width : 599px)"


$container_min = 1079px
$container_max = 1079px

$desk_offset = 60px



/*==========  TYPE  ==========*/

// font-family
ff_base = Helvetica, sans-serif

// font-size
fz_base = 14px

fz_title = 20px

// line-height
lh_base = 1.36


/*==========  COLORS  ==========*/

c_base = #000
c_link = #43ccad

// background-color
bg_base = #fff


//border-color
br_base = #e5e5e5



/*==========  Z-INDEXES  ==========*/

z_base = 10


/*==========  TRANSITIONS  ==========*/

time = .1s
