body
html
  margin 0
  padding 0
  width 100%
  height 100%

.page-wrapper
  width 100%
  height 100%
  display table
  overflow hidden

.page-footer
  display table-row
  height 1px

.page-content
  display table
  width 100%
  height 100%
  table-layout fixed



csswizardry grid
.container
  @extends .cf
  min-width $container_min
  max-width $container_max
  margin 0 auto
  padding-left $desk_offset
  padding-right $desk_offset
  width 100%
  position relative
  overflow visible

